h1,
h2,
h3,
p,
ul {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--cor-fundo);
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

p {
  display: block;
}

:root {
  --cor-fundo: #fcfafc;
  --cor-r10: #6d4d69;
  --cor-c08: #929292;
  --cor-rd1:#B95558;
  --cor-rx11:#534451;
  --cor-white:#ffffff;
}

.btn-compra{
  font-size: 1.5rem;
  background-color: var(--cor-r10);
  color: var(--cor-white);
  padding: 12px 85px;
  border-radius: 5px;
  

}