h1 {
  font-family: "Playfair Display", sans-serif;
  font-size: 3rem;
  text-align: center;
  color: #ffffff;
}

.modal {
  display: none;
  position: fixed;
  top: 80px;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.login-form {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  background-color: var(--cor-rx12);
  padding: 50px 50px;
  padding-bottom: 50px;
  width: 50vh;
  position: fixed;
  display: none;
}
.formulario-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
}
.forgotpass {
  display: block;
  text-align: end;
  margin-top: 100px;
  margin-left: 200px;
  color: #ffffff;
}

.fechar {
  align-self: end;
}

.login-form input {
  width: 260px;
  height: 25px;
  border: 1px solid var(--cor-r10);
}

.login-form label {
  color: #ffffff;
}

.login-bt {
  font-family: "Playfair Display", sans-serif;
  font-size: 1.2rem;
  text-align: center;
  align-self: center;
}

.modal {
}

.ativo {
  display: block;
}
