.starshine {
  display: block;
  max-width: 100%;
}
.lancamento-starshine{
  padding-bottom: 200px;
}
.lancamento-principal {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 180px;
  padding-bottom: 160px;
}

.tt-starshine {
  font-size: 6rem;
  font-family: "Cinzel Decorative", sans-serif;
  font-weight: 400;
  color: var(--cor-r10);
}

.star-nova {
  font-family: "Playfair Display", sans-serif;
  text-transform: uppercase;
  font-size: 2.25rem;
  font-weight: 400;
  color: var(--cor-rd1);
  padding-left: 400px;
}

.l-cores img {
  width: 280px;
  height: 90px;
}

.info-lan {
  font-family: "Playfair Display", sans-serif;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 200px;
}
.l-cores {
  display: flex;
  align-items: center;
  gap: 50px;
  padding-bottom: 32px;
}

.l-cores-titulo {
  font-size: 2rem;
  text-transform: uppercase;
  color: var(--cor-rx11);
  letter-spacing: 0.165em;
}

.l-compra{
  display: flex;
  flex-direction: column;
  align-items: start;
  color: var(--cor-rx11);

}

.preco-anterior{
  font-size: 1.5rem;
  padding-bottom: 4px;
}
.preco-atual{
  font-size: 4rem;
  padding-bottom: 60px;
}

.l-descricao{
  font-size: 1.5rem;
  padding-bottom: 20px;
  max-width: 45ch;
}
.l-descricao > span{
  font-family: "Cinzel Decorative", sans-serif;
  color: var(--cor-r10);
}

.l-descricao{
  font-size: 1.5rem;
}